<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="./img/rain.ico">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>
            <section style="color: red">{{message}}</section>
        </h2>
    </div>
    {{>footer}}
</body>

</html>