<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="icon" href="./img/rain.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This app was created by Caleb Tarleton. It uses map data from mapbox.com to geocode the searched string and then takes the 
            geocoding and sends it to darksky.net to get the wather for that location. 
        </p> 
        <img class ="portrait" src='./img/buzzcard-photo.jpg'>
        </div>
        {{>footer}}
    </body>
</html>