<!DOCTYPE html>
<html>

<head>

    <title>Help</title>
    <link rel="icon" href="./img/rain.ico">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Here is the page for <strong>{{info}}</strong></p>
    </div>
    {{>footer}}
</body>

</html>